.welcome
  h2.welcome
h1
  img(src="/images/bad-bishop.png")
  = title
#main
  #name
    h2 What's your name?
    br
    input(type='text',name='name')
    br
    button#setname.btn.btn-warning Continue
  #find-game(style='display:none;')
    h2 Challenge Someone To a Game
    br
    button#invite.btn.btn-warning Issue A Challenge
    br
    hr
    if (!invites)
      - style = "display:none;"
    else
      - style = ""
    .players-waiting(style=style)
      h2 Or Accept Someones Challenge
      if invites
        .challenge-list
          each invite in invites
            .challenge
              button.accept.btn.btn-warning(sid=invite.socket.id)
                = invite.name
    if (invites)
      - style = "display:none;"
    else
      - style = ""
    .no-one-waiting(style=style)
      h2 No players are currently waiting for an opponent.
    br
  #waiting(style='display:none;')
    h2 Waiting for a challenger to accept.
  #play-game(style='display:none;')
    .game
      .otherguy
      .h500
        br
        .chat
          h3 Chat
          .conversation
          .type
            input(type="text")
        .cont
          .board
        .pgn
          h3 PGN
          .pgndata
      br
      .you
      br
    br
